body{overflow-X: hidden;margin:0px;padding:0px;width:100%}
	.main{height:50vh;}
	*{margin:0px;padding:0px}
	p{margin:0;padding:0px}
	.top{
	
  margin: 0;width:100%;padding:0px;
  overflow:hidden;	}
	.show{color:orange;display: none !important;}
	.comprehessive{font-family: Nunito Sans,sans-serif!important;font-size:63px!important;}

	h4{font-family: Nunito Sans,sans-serif!important; font-size:22px;color:#666666}
	.box{height:auto;width:50%;text-align:center;border-radius:10px;padding:1%;float:left}
	.box:hover{box-shadow:0 0 20px grey;}
	.box:hover .show{display: block !important;}	
	.box_description{font-family: Nunito Sans,sans-serif!important;font-size:14px;}
	p{font-family: Nunito Sans,sans-serif!important;font-size:20px;color:black}	
	.whychoose{font-family: Nunito Sans,sans-serif!important;font-size:63px!important;}
	.sec2{color:#ff7700; font-family: Nunito Sans,sans-serif!important;font-size:45px!important;}
	.exp{font-size:16px; background:#FF7700;width:258px}
	.kmore{font-size:16px; background:#ffffff; border-radius:1px solid #FF7700;color:#FF7700;width:100%
	height:100%}
	
	.webname{color:#FF7700;font-size:32px;width:100%;padding-left:10%}
	
.foot
{
width: 100%;background-color: black;
color: white;text-align: center;padding:5% 2% 2% 2%;font-size:20px
}
.foot_menu{text-decoration:none; color:white;font-size:20px;}

/* FOR MENU */
@media screen and (min-width: 768px){
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }
    .dropdown-toggle{
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
        margin-bottom: 0;
    }
}

/* For Head Part*/
#content-desktop {display: block;}
#content-mobile {display: none;}
/*For Why Choose PArt*/
#why-mobile{display: none;}
#why-desktop{display: block}

@media only screen and (max-width: 768px)  {

#content-desktop {display: none;}
#why-desktop {display: none;}
#content-mobile {display: block;}
#why-mobile {display: block;}

}
@media only screen and (max-width: 961px) and (min-width: 768px) {
.comprehessive{font-size:  40px!important;}
.whychoose{font-size:  40px!important;}
.sec2{font-size:  30px!important;}
}
@media only screen and (max-width: 768px) {
.comprehessive{font-size:  25px!important;}
.whychoose{font-size:  35px!important;}
.sec2{font-size:  25px!important;}
}
/* For First Page Menu, should be visible on desktop but not on mobile */
#firstmenu1{display: block;}
#firstmenu2{display: none;}
@media only screen and (max-width: 1200px) {
#firstmenu1{display: none;}
#firstmenu2{display: block;}
}


.loginbtn{
	background:white;
	border:2px solid #FF4081;
	}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

a{color: black}

/* FOOTER */
.demopadding {
  margin:50px auto;
  width:140px;
  text-align:center;
}
.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;
}
.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background:#6d6e71 ;
	color:#262626;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon.social:hover {
	background:#262626 ;
	color:#6d6e71;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
}
.icon.social.fb i {
	left:13px;
	top:10px;
}
.icon.social.tw i {
	left:11px;
}
.icon.social.in i {
	left:11px;
}

/* Slider On Railways and Banking Page */
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center;  margin:10px;  color:#666; box-shadow: 0 0 2px grey}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

.price_right{float: right;}
.price_left{float: left;text-decoration: line-through;}

/* --Slider On Railways and Banking Page */
.exam_heading div{font-size: 20px;}
.jumbotron div a{color: #008CBA;}
.exam_details{color: #6A6A68;}
.exam_description{margin-bottom: 20px}
/* Product detail */
.main_div{box-shadow: 0 0 5px grey;padding: 2%;margin-bottom: 4%;}
.inner_div{box-shadow: 0 0 5px grey}
.p_img{height: 270px; width: 200px}
.p_desc{color: #03A9F4; }
.old_price{ text-decoration: line-through;font-size: 16px; color: grey}
.new_price{ font-size: 20px; color: grey;margin-left: 30px}
.cart_btn:hover{ color: white; background: #FF4081;}
.buy_btn{ color: white; background: #FF4081;}
.free_btn{ color: white; background: #FF4081;}
.free_btn:hover{color:white} .buy_btn:hover{color:white}
.p_pic{margin-bottom: 20px}
.bod{border: 1px solid #989896; padding: 15px; font-size: 20px}
.inner_desc{height:300px; overflow-Y: scroll;;padding-top: 10px}
.inner_heading{font-size:16px}
.inner_p{font-size:14px;margin:20px 0 20px 0; font-weight: bold}
.bor{border: 1px solid #989896; padding:5px}
.tab{padding: 15px;}

/*Test Series side navigation*/ 
.side_nav{text-align:center; padding:5px; margin-bottom: 2px}
.side_link{text-decoration: none; color: #1CC7FF; font-size: 16px}
.all_items{padding: 0px 10px 0px 10px}
.testing_item{padding:20px; box-shadow:0 0 5px grey; margin-bottom:10px }
.sidebar_heading{color: rgba(0,0,0,0.54); font-size: 12px; padding: 10px 0 10px 12px}
.all_items div p{color: #1CC7FF;}
.test_cart{ width: 100%;background: white; color: #FF4081;}
.test_cart:hover{ width: 100%;background: #FF4081; color: white }
.cart_icon{margin-right:10px}
.sel_course{border: none;}
.in_mob{display: none;}
.in_desk{display: block;}
@media only screen and (max-width: 768px)  {
.in_desk {display: none;}
.in_mob {display: block;}
}

/* Keep Footer at Bottom */
.allButFooter {
    min-height: calc(100vh - 315px); 
}
/* On Video Course Dscription Image*/
.vid_back{height : 245px;width:100%; background: url(../img/vid_back.png); background-size: 100% 100%; background-repeat: no-repeat;
padding: 30px 0px 0px 30px;
}
.vid_text{position: relative; font-size: 14px; line-height: 1.71;
    text-align: center; color: rgba(255, 255, 255, 0.87);}
.vid_text1{position: relative; font-size: 25px; line-height: 1.71;
    text-align: center; color: rgba(255, 255, 255, 0.87);}
.right_div{float:right; padding: 10px ;width: 250px; box-shadow: 0 0 5px grey;}
.right_div span{font-size: 16px}
.left_div{ margin-top: 30px;padding: 20px;float: left; }
.bac{background: #D9F1FF; padding:0px 10px 10px 20px;}
.inner_detail{ padding: 10px; margin: 20px 0px 20px 0px;}
.demo_course{margin:10px 10px 10px 0px; width:180px; box-shadow: 0 0 5px grey;text-align: center;background: white;}
.teacher{width: 100%; height: auto; padding: 10px 10px 10px 10px; box-shadow: 0 0 5px grey;}
.teacher img{ height: 50px; width: 50px}
.teach_name{color:03A9F4 ; font-size:16px; margin-left: 10px}
.teach_desc{margin-left: 10px; font-size:14px}
.exam_cover{padding: 10px; width:120px;box-shadow: 0 0 5px grey;margin: 10px 0px 10px 0px;}
.exam_cover img{width: 100%;}
.second_part{position: relative}
.bottom_buy{text-align: center;margin:10px; display: none;}
/* Collapsive Information */
.collapsible {
   color: white; cursor: pointer; padding: 18px; text-align: center;
  width: 100%; border: none;  outline: none;  font-size: 15px;margin-bottom: 10px;
}
.active, .collapsible:hover {
  //background-color: #555;
}
.content {
  padding: 0 18px;  display: none;  overflow: hidden;  background-color: #f1f1f1;margin-bottom: 10px;
}
.answer{font-size: 12px;}
.ques{font-size: 16px;}

@media only screen and (max-width: 1024px) {
		.right_div{display:none !important;}
		.bottom_buy{display:block !important;}
}
.nav_li{
	display: block;
}
.tabs{
	    margin-left: 20px;
}

body {
      text-align: center;
    }

    div#editor {
      width: 81%;
      margin: auto;
      text-align: left;
    }

.second-toolbar{
	    display: none;
	
}
.cimg{
	height:100px ;
	width:200px;
}
.imgbox{
	
	height:100px ;
	width:200px;
}
.videotab{
	width:80% ;
	margin-left:10% ;
	border :5px double lightgray ;
	padding:5%;
}
.tabCourse{
	width:80% ;
	margin-left:10% ;
	border :5px double lightgray ;
	padding:5%;
}









