<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/tooltip.js"></script>
  <link href="css/font-awesome.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>




   
<footer class="foot">
	<div class="row">
		<div class="col-md-2 col-sm-2 "></div>
			<div class="col-md-2 col-sm-2 "><a href="#" class="foot_menu">Home</a></div>
			<div class="col-md-2 col-sm-2 "><a href="#" class="foot_menu">About Us</a></div>
			<div class="col-md-2 col-sm-2 "><a href="#" class="foot_menu">Contact Us</a></div>
			<div class="col-md-2 col-sm-2 "><a href="#" class="foot_menu">News</a></div>	
		<div class="col-md-2 col-sm-2 "></div>
	</div>
	<br style="clear:both">
	
	<div class="row">
<div class="col-md-4 col-sm-4 col-xs-2"></div>
				
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class='demopadding'>
<h5 align="center" style="color:white">Follw US On</h5>
  <div class='icon social fb' style="color: #4267b2;background:black;"><i class='fa fa-facebook'></i></div>
  <div class='icon social tw' style="color: #4099FF; background:black;"><i class='fa fa-twitter'></i></div>
  <div class='icon social in' style="color: #007bb6; background:black;"><i class='fa fa-linkedin'></i></div>
</div>  
<div class="col-md-4 col-sm-4 col-xs-2"></div>
</div>
		
<br>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12" align="center" style="font-size:12px" >All Right Reserved Copy right</div>
	</div>
</footer>