<html lang="en">
<head>
  <title>Home</title>
  <!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="engine1/style.css" />
<script type="text/javascript" src="engine1/jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.min.css"><link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/explore.css"><script src="js/jquery.min.js">
</script><script src="js/bootstrap.min.js"></script><script src="js/tooltip.js"></script>
<script src="js/slider.js"></script>
<link href="css/font-awesome.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>
<body>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/tooltip.js"></script>
  <link href="css/font-awesome.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet"> 
  
  </head>


<nav class="navbar navbar-inverse"  style="margin:0 0 1px 0;padding:0" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.html" style="font-size:20px">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" >
      <ul class="nav navbar-nav" >
		
		 <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Courses <span class="caret"></span></a>
			<ul class="dropdown-menu">
				  <li><a href="railways.html">Railways</a></li>
				<li><a href="banking.html">Banking</a></li>
			</ul>
        </li>
		
		<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Test Series<span class="caret"></span></a>
			<ul class="dropdown-menu">
				  <li><a href="test_series.html">demo1</a></li>
				<li><a href="test_series.html">demo2</a></li>
			</ul>
        </li>
		
		<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Mock Interviews<span class="caret"></span></a>
			<ul class="dropdown-menu">
				  <li><a href="mock_test.html">demo1</a></li>
				<li><a href="mock_test.html">demo2</a></li>
			</ul>
        </li>       
		<li class=""><a href="">About Us</a></li>
		<li class=""><a href="">News</a></li>		
		<li class=""><a href="">Contact Us</a></li>		
		<li class=""><a href="">Register</a></li>		
		<li class=""><a href="">Login</a></li>		
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">
      </ul>-->
    </div>
  </div>
</nav>
<!-- Body -->


<section class="container main_div">
	<div class="p_pic">
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-12">
				<img src="img/product.jpg" class="p_img" alt="Product Image">
			</div>
			<div class="col-md-9 col-sm-8 col-xs-12">
				<p class="p_desc">SBI Clerk Prime with Video Solutions 2019 Online Test Series (SBI Special)</p>
				<hr style="background: grey;height: 1px">
				<span class="old_price">15000 &#8377;</span>
				<span class="new_price">200 &#8377;</span>
				<br><br>
				<button class="btn loginbtn cart_btn">ADD TO CART</button>
				<button class="btn loginbtn buy_btn">Buy Now</button>
				<button class="btn loginbtn free_btn">Free Mock</button>
			</div>
		</div>
	
	</div>
	<div class="row ">
		<div class="col-md-12 p_desc bod">DESCRIPTION</div>	
	</div>
	<div class="inner_desc">
	<p class="inner_heading">	USP of The Package</p>
<p class="inner_p">Prepare to crack SBI CLERK 2019 by practising with mock tests prepared by India's best faculties 
for bank exams. In this Test Series package, you'll get  85 full length mocks, Section Wise, 
Topic Wise and Previous Years Papers for SBI CLERK 2019 where Quant is by Sumit Sir, English is 
by Anchal Ma'am, Reasoning is by Akansha Ma'am and GA is by Kush Sir. 
The questions are of varying level to test your actual preparation and you will be competing with thousands 
of other aspirants just like the actual exam.</p> 

 

<p class="inner_heading">Package Includes</p> 
<p class="inner_p">SBI Junior Associates (Clerk) Prelims<br>   
-SBI Clerk Prelims: 20 Full-Length Mocks<br>
-SBI Clerk Prelims: 4 Previous Year’s Papers 2016 & 2018<br>
-SBI Clerk Prelims: 15 Section Wise Practice sets (5 Reasoning, 5Quant & 5 English)</p>

 

<p class="inner_heading">20 Topic wise Practice sets (20 Questions in Each set)</p>
<p class="inner_p">-Reasoning Topic Wise Practice sets:  2 Puzzle, 2 Seating arrangement,
 2 Syllogism & 1 Inequality & 2 Miscellaneous <br>
-Quantitative Aptitude Topic Wise Practice sets: 2 DI, 2 Quadratic Equation, 2 Series <br>
-English Language Topic Wise Practice sets: 2 Error Correction,1 Fillers, 1 RC, 1 Cloze Test)</p>

 

<p class="inner_heading">SBI Junior Associates (Clerk) Mains..</p>
<p class="inner_p">-SBI Clerk Mains: 10 Full-Length Mocks.<br>
-SBI Clerk Mains: 2 Previous year's Papers (2016 & 2018)<br>   
-SBI Clerk Mains: 15 Section Wise Practice sets (5 Reasoning,5 Quant & 5 English)</p>

 

<p class="inner_heading">Note- Video solutions will be available in Hinglish</p>
<p class="inner_p">
- eBooks ( Available in only English Medium)<br>
- Banking Awareness eBook (Only English)<br>
- Static Awareness eBook (Only English)<br>  
- Computer eBook
</p>
 

<p class="inner_heading">Salient Features:</p>
<p class="inner_p">- Accessible on Adda247 store and Adda247 Mobile App<br>
- Video solutions  available (20 Full Length Mocks for Prelims & 10 Full Length Mocks for Mains) <br> 
- Bi-monthly current Affairs (Jan 2019- June 2019)<br> 
- Available in English & Hindi Medium <br>
- Detailed Solutions.<br>
- Analysis of The Attempted Tests in Detail (All India Rank, comparison with toppers etc.)</p>

 

<p class="inner_heading">Uploading Plan for SBI Clerk Pre 2019:</p>
	<section class="tab">
		<div class="row ">
			<div class="col-md-6 col-sm-6 col-xs-6" align="center">
				S. No.
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6" align="center">
				Uploading Date
			</div>
		</div>
		<div class="row ">
			<div class="col-md-6 col-sm-6 col-xs-6 bor" align="center">
				Set 01
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 bor" align="center">
				16 April
			</div>
		</div>
		<div class="row ">
			<div class="col-md-6 col-sm-6 col-xs-6 bor" align="center">
				Set 02
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 bor" align="center">
				19 April
			</div>
		</div>
		<div class="row ">
			<div class="col-md-6 col-sm-6 col-xs-6 bor" align="center">
				Set 02
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 bor" align="center">
				19 April
			</div>
		</div>
	</section>

	
</div>
	
</section>

<footer class="foot">
	<div class="row">
		<div class="col-md-2 col-sm-2 "></div>
			<div class="col-md-2 col-sm-2 "><a href="#" class="foot_menu">Home</a></div>
			<div class="col-md-2 col-sm-2 "><a href="#" class="foot_menu">About Us</a></div>
			<div class="col-md-2 col-sm-2 "><a href="#" class="foot_menu">Contact Us</a></div>
			<div class="col-md-2 col-sm-2 "><a href="#" class="foot_menu">News</a></div>	
		<div class="col-md-2 col-sm-2 "></div>
	</div>
	<br style="clear:both">
	
	<div class="row">
<div class="col-md-4 col-sm-4 col-xs-2"></div>
				
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class='demopadding'>
<h5 align="center" style="color:white">Follw US On</h5>
  <div class='icon social fb' style="color: #4267b2;background:black;"><i class='fa fa-facebook'></i></div>
  <div class='icon social tw' style="color: #4099FF; background:black;"><i class='fa fa-twitter'></i></div>
  <div class='icon social in' style="color: #007bb6; background:black;"><i class='fa fa-linkedin'></i></div>
</div>  
<div class="col-md-4 col-sm-4 col-xs-2"></div>
</div>
		
<br>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12" align="center" style="font-size:12px" >All Right Reserved Copy right</div>
	</div>
</footer>









</body>
</html>
