.appBrowsewrapper .appBrowsecontainer {
  max-width: 1580px;
  margin: 60px auto;
}


.appBrowsefield nav {
  padding: 0 !important;
}

.appBrowsefield ol {
  background: none;
  padding: 0;
}

.appBrowsefield ol li a {
  color: #707070;
}


.appBrowsefield ol li span {
  font-weight: 700;
  color: #4E4E4E;
}


@media screen and (max-width: 767px) {
  .appleftcategory {
    display: none !important;
  }
}