.appRow {
  margin: 0 !important;
}

.error{
  color:red;
}

.appSignin a {
  color: #02601f0;
  padding-left: 10px;
}

.appSignin {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #2D2D2D;
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;

}

.appRightfield {
  padding: 48px;
  height: 100%;
}

.appRightfield .appMiddlesection {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


.appRightfield .appMiddlesection label {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #2D2D2D;
}

.appMiddlesection form {
  width: 58%;
  display: flex;
  flex-direction: column;
}


.appMiddlesection form input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px  #E0EDF6 solid;
  border-radius: 0;
  box-shadow: none;
}

.appMiddlesection h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #2D2D2D;
  padding-bottom: 60px;
}

.appMiddlesection form  a{
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #0261F0;
  padding: 30px 0;
}

.appLoginbtn {
  width: 40%;
}

.appLoginbtn button {
  width: 100%;
  background: #034FC2;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  padding: 15px 0;
}


.appSigninbottom {
  display: none;
}

@media screen and (max-width: 767px) {

  .appLoginbtn {
    width: 100%;
  }

  .appSignin {
    display: none;
  }

  .appSigninbottom {
    display: block;
    text-align: center;
    padding-top: 20px;
  }

  .appRightfield {
    height: auto;
  }

  .appMiddlesection form {
    width: 100% !important;
  }
}




@media screen and (min-width: 768px) and (max-width: 1024px) {
  .appMiddlesection {
    width: 100% !important;
  }

  .appMiddlesection form {
    width: 100%;
  }
}



.appCheckboxfield {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 20px;
}


.appCheckboxfield input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.appCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #FFFFFF;
  border: 1.5px solid #E0EDF6;
  border-radius: 3px;
}


.appCheckboxfield:hover input ~ .appCheckmark {
  background-color: #ccc;
}


.appCheckboxfield input:checked ~ .appCheckmark {
  background-color: #2196F3;
}

.appCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}


.appCheckboxfield input:checked ~ .appCheckmark:after {
  display: block;
}


.appCheckboxfield .appCheckmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.appCheckboxfield p {
  font-size: 14px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #2D2D2D;
}